.slider-news {
  padding-top: 20px;
  padding-bottom: 25px;
}
.slider-news .swiper-container {
  width: 100%;
}
.slider-news .swiper-slide-content img {
  width: 100%;
  object-fit: cover;
  object-fit: contain;
}
.swiper-slide {
  cursor: pointer;
}
.slider-news .swiper-pagination-bullet {
  position: relative;
}
.slider-news .swiper-pagination-bullet-active::before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: -5px;
  left: -5px;
  border-radius: 50%;
  border: 1px solid #1e53b4;
  box-sizing: border-box;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .slider-news {
    padding-top: 25px;
  }
  .slider-news .swiper-slide-content img {
    max-height: 400px;
  }
}
@media (min-width: 1200px) {
  .slider-news {
    padding-top: 25px;
    padding-bottom: 40px;
  }
}
.slider-dates {
  padding-bottom: 25px;
  position: relative;
}
.slider-dates .swiper-container {
  display: none;
}
.dates-mob {
  height: 70px;
  background: linear-gradient(180deg, #0f4392 0%, #052d73 100%);
  box-shadow: 0px 11px 24px rgba(7, 48, 118, 0.3);
  display: flex;
  align-items: center;
  padding: 10px 25px;
  box-sizing: border-box;
}
.dates-mob__day {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 11px;
}
.dates-mob__day p:first-child {
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
}
.dates-mob__day p:last-child {
  font-size: 11px;
  font-weight: 400;
  color: #c1c9d7;
  text-transform: uppercase;
}
.dates-mob__text {
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}
.dates-mob__icon {
  width: 16px;
  height: 16px;
  margin-left: auto;
}
.pickup-date {
  padding: 15px 0;
  text-align: center;
  text-transform: uppercase;
  background: #ffffff;
  border: 1px solid #eaf2fa;
  box-sizing: border-box;
  max-width: 93px;
}
.pickup-date p:nth-child(1) {
  font-size: 10px;
  color: #232323;
  margin-bottom: 3px;
  font-weight: 500;
}
.pickup-date p {
  margin: 0;
  line-height: 1;
}
.pickup-date p:nth-child(2) {
  font-size: 25px;
  color: #1e53b4;
  margin-bottom: 4px;
}
.pickup-date p:nth-child(3) {
  font-size: 11px;
  color: #535353;
}
.pickup-date.selected {
  background: linear-gradient(180deg, #0f4392 0%, #052d73 100%);
  box-shadow: 0 11px 24px rgba(7, 48, 118, 0.3);
}
.pickup-date.selected p {
  color: #ffffff;
}
.pickup-date.selected p:nth-child(3) {
  color: #c1c9d7;
}
.slider-dates__gradient {
  display: none;
}
@media (min-width: 768px) {
  .dates-mob {
    display: none;
  }
  .slider-dates .swiper-container {
    display: block;
    overflow: hidden;
  }
  .swiper-button-prev-custom,
  .swiper-button-next-custom {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 10;
    top: calc(50% - 25px);
    background: #e2e6ea url("/trcglobus/img/left-arrow-grey.svg") no-repeat 50% 50%;
    cursor: pointer;
  }
  .swiper-button-prev-custom {
    left: 0;
    transform: rotate(-180deg);
  }
  .swiper-button-next-custom {
    right: 0;
  }
  .swiper-button-prev-custom:hover,
  .swiper-button-next-custom:hover {
    background: #1e53b4 url("/trcglobus/img/right-arrow-white.svg") no-repeat 50%
    50%;
  }
  .slider-dates__gradient {
    display: block;
    position: absolute;
    width: 100%;
    height: 85px;
    /*top: 0;*/
    left: 0;
    background: linear-gradient(
            90deg,
            rgba(255, 255, 255),
            rgba(255, 255, 255, 0.001) 20% 80%,
            rgba(255, 255, 255)
    );
    z-index: 10;
    pointer-events: none;
  }
}
@media (min-width: 1200px) {
  .slider-dates__gradient {
    height: 100px;
  }
  .pickup-date {
    max-width: 150px;
  }
  .pickup-date p:nth-child(1) {
    font-size: 14px;
  }
  .pickup-date p:nth-child(2) {
    font-size: 33px;
  }
  .pickup-date p:nth-child(3) {
    font-size: 13px;
  }
}

.rub {
  line-height: 1px;
  width: 0.5em;
  border-bottom: 1px solid #000;
  display: inline-block;
}

.films.inner-wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 1200px) {
  .films.inner-wrap {
    padding-left: 0;
    padding-right: 0;
  }
}

.films {
  padding-top: 10px;
  padding-bottom: 50px;
}

.film {
  padding: 20px;
  box-shadow: 0px 2px 17px rgba(7, 48, 118, 0.07);
  margin-bottom: 10px;
  background: #ffffff;
}

.film:last-child {
  margin-bottom: 0;
}

.film__poster-link {
  display: block;
  position: relative;
  width: 200px;
  margin: 0 auto 20px;
}

.film__poster-img {
  display: block;
  width: 100%;
  height: 284px;
  object-fit: cover;
}

.play-button {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.play-button__img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-right: 13px;
}

.play-button__text {
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}

.film__info {
  margin-bottom: 14px;
  padding-top: 10px;
  position: relative;
}

.film__pushkin {
  display: inline-block;
  padding: 10px 10px;
  background-color: #edf8fb;
  font-size: 12px;
  margin-bottom: 14px;
}

.film__limit {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #f1f7fd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: bold;
  color: #1e53b4;
}

.film__name {
  color: #232323;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.film__country {
  display: flex;
  align-items: center;
  color: #09337b;
  margin-bottom: 14px;
  font-size: 13px;
}

.film__country img {
  margin-right: 8px;
  width: 16px;
  height: 16px;
}

.film__desc a {
  font-weight: bold;
}

.film__date {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #838f97;
  position: relative;
  margin-bottom: 15px;
}

.film__date img {
  display: block;
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.film__schedule > p {
  color: #838f97;
  margin-bottom: 8px;
}

.film__2d,
.film__3d {
  margin-bottom: 10px;
}

.film__2d-text,
.film__3d-text {
  font-size: 19px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  height: 40px;
  width: 45px;
  justify-content: center;
  color: #ffffff;
}

.film__2d-text {
  background-color: #f19a49;
}

.film__3d-text {
  background-color: #1dc761;
}

.film__sessions {
  display: flex;
  flex-wrap: wrap;
}

.film__session {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #eaf2fa;
  width: 100px;
  height: 40px;
  box-sizing: border-box;
  position: relative;
}

.film__session:hover {
  background-color: #1e53b4;
}

.film__session:hover .film__session-time,
.film__session:hover .film__session-price,
.film__session:hover .film__session-time::after {
  color: #ffffff;
}

.film__session-time {
  color: #444444;
}

.film__session-time::after {
  content: "|";
  color: #838f97;
  margin-left: 6px;
}

.film__session-price {
  color: #232323;
  font-weight: bold;
  line-height: 1em;
}

@media (min-width: 860px) {
  .film__info .film__pushkin {
    float: right;
    margin-top: 5px;
    margin-right: 80px;
  }
}

@media (min-width: 1200px) {
  .film__info .film__pushkin {
    margin-top: -10px;
    margin-right: 60px;
  }
}

@media (min-width: 768px) {
  .films {
    padding-top: 10px;
    padding-bottom: 80px;
  }

  .film {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 300px 1fr;
  }

  .film__poster {
    grid-column: 1;
    grid-row: 1;
  }

  .film__info {
    grid-column: 2;
    grid-row: 1;
    padding-left: 30px;
  }

  .film__name {
    font-size: 18px;
    margin-bottom: 17px;
  }

  .play-button__text {
    font-size: 12px;
  }

  .film__limit {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }

  .film__desc {
    line-height: 21px;
  }

  .film__desc p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .film__schedule {
    grid-column: 1 / 3;
    grid-row: 2;
  }

  .film__2d,
  .film__3d {
    margin-bottom: 0;
    display: flex;
  }

  .film__2d-text,
  .film__3d-text {
    font-size: 19px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    height: 40px;
    width: 45px;
    justify-content: center;
    color: #ffffff;
  }

  .film__2d-text {
    background-color: #f19a49;
  }

  .film__3d-text {
    background-color: #1dc761;
  }

  .film__2d-text::after,
  .film__3d-text::after {
    content: "";
  }

  .film__session {
    font-size: 12px;
  }
}

/* ---------------------------------- */
@media (min-width: 1200px) {
  .films {
    padding-bottom: 35px;
  }

  .film {
    display: grid;
    grid-template-columns: 260px 1fr;
    grid-template-rows: 1fr 1fr;
    height: 366px;
    padding: 0;
    margin-bottom: 30px;
  }

  .film__poster {
    grid-column: 1;
    grid-row: 1 / 3;
  }

  .film__poster-link {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  .film__poster-img {
    height: 100%;
  }

  .play-button {
    bottom: 25px;
    left: 25px;
  }

  .film__limit {
    top: 20px;
    right: 20px;
  }

  .play-button__img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
  }

  .play-button__text {
    font-size: 15px;
  }

  .agree-rules ul {
    list-style: disc;
    padding-left: 20px;
  }

  .agree-rules ul li {
    margin: 20px 0;
  }

  .film__info {
    grid-column: 2;
    grid-row: 1 / 2;
    padding: 35px 20px 0 35px;
  }

  .film__schedule {
    grid-column: 2;
    grid-row: 2;
    padding: 0 20px 20px 35px;
  }

  .film__2d-text,
  .film__3d-text {
    height: 43px;
  }

  .film__session {
    font-size: 14px;
    width: 123px;
    height: 43px;
    padding: 13px 15px;
    align-items: baseline;
  }
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: flex-start;
  backdrop-filter: blur(10px);
  z-index: 1000;
  overflow: hidden;
  overflow-y: auto;
  padding: 50px 0;
}

.modal__container {
  margin: 0 auto;
  max-width: 782px;
  height: fit-content;
  box-sizing: border-box;
  width: calc(100% - 30px);
  box-shadow: 0 15px 53px rgba(1, 15, 38, 0.7);
  background: #ffffff;
  max-height: 710px;
}

.modal__close {
  background: transparent;
  border: 0;
  cursor: pointer;
}

@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.modal-plan__header {
  padding: 20px;
  position: relative;
}

.modal__close {
  display: block;
  position: absolute;
  top: -28px;
  right: 0;
  width: 18px;
  height: 18px;
  background: url("/trcglobus/img/x.svg") no-repeat;
  background-size: cover;
}

.modal-plan__header > p {
  font-size: 13px;
  color: #838f97;
  margin-bottom: 5px;
}

.modal .film__limit {
  top: 10px;
  right: 10px;
}

.modal-plan__header .film__name {
  font-size: 14px;
}

.film__detail {
  display: flex;
  color: #232323;
  flex-wrap: wrap;
}

.film__detail > div {
  height: 33px;
  width: auto;
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-size: 11px;
  font-weight: 500;
  margin-right: 5px;
  margin-bottom: 5px;
}

.film__detail > div:last-child {
  margin-right: 0;
}

.film__day {
  background-color: #eaf2fa;
}

.film__zal {
  background-color: #e4e9f9;
}

.film__detail_2 {
  display: flex;
  color: #232323;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.modal-plan__header .film__2d-text,
.modal-plan__header .film__3d-text {
  justify-content: center;
  color: #ffffff;
}

.modal-plan__header .film__2d-text {
  background-color: #f19a49;
}

.modal-plan__header .film__3d-text {
  background-color: #1dc761;
}

.modal-plan__header .film__2d-text::after,
.modal-plan__header .film__3d-text::after {
  content: "";
}

.film__duration {
  background-color: #edf8fb;
  font-size: 12px;
}

.film__duration img {
  margin-right: 8px;
}

.modal-plan__main {
  padding: 5px 15px 60px;
  background: #ffffff;
}

.screen {
  text-align: center;
  font-size: 10px;
  letter-spacing: 0.335em;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 19px;
}

.screen img {
  width: 100%;
  height: 9px;
  object-fit: cover;
}

.seats-plan {
  margin-bottom: 20px;
  overflow-x: auto;
}

.seats-plan__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
  position: relative;
  margin: 0 auto 5px;
}

.seats-plan__row-number {
  width: 20px;
  min-width: 20px;
  height: 20px;
  background: #ffffff;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #838f97;
  font-weight: 500;
}

.seats-plan__row-number:first-child {
  left: 0;
  background: linear-gradient(
          270deg,
          rgba(255, 255, 255, 0.02) 0%,
          #ffffff 29.39%
  );
}

.seats-plan__row-number:last-child {
  right: 0;
  background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0.02) 0%,
          #ffffff 29.39%
  );
}

.seats-plan__row-places {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #232323;
}

.seats-plan__row-place {
  width: 20px;
  min-width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 2px;
  margin-right: 3px;
  border: 0;
}

.seats-plan__row-place:last-child {
  margin-right: 0;
}

.seats-plan__row-place.color-two {
  min-width: 36px;
}

.seats-class {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 300px;
  margin: 0 auto;
}

.seats-class__item {
  display: flex;
  align-items: center;
  width: 45%;
  margin-right: 10px;
  margin-bottom: 10px;
}

.seats-class__item-color {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  margin-right: 8px;
  box-sizing: border-box;
}

.color-free {
  background-color: #e6edf3;
}

.color-busy {
  background: #ffffff;
  border: 2px solid #e6edf3;
  color: #ffffff;
  cursor: unset;
}

.color-two {
  background-color: #f4dfee;
}

.color-selected {
  background: linear-gradient(180deg, #1f53b4 0%, #072f76 100%);
  color: #ffffff;
}

.modal-plan__footer {
  background-color: #f2f7fb;
  padding: 15px;
}

.to-pay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.to-pay p:first-child {
  color: #536479;
}

.to-pay p:last-child {
  color: #232323;
  font-weight: bold;
  font-size: 16px;
}

.places {
  padding: 6px 10px;
  border: 1px solid #536479;
  box-sizing: border-box;
  border-radius: 14px;
  width: fit-content;
  font-size: 10px;
  margin-left: auto;
  margin-bottom: 15px;
}

.pay-btn {
  cursor: unset;
  display: flex;
  background: #939bab;
  border-radius: 2px;
  color: #ffffff;
  padding: 20px 35px;
  font-size: 15px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 5px;
  margin-bottom: 5px;
}

.pay-btn-active {
  background: #1e53b4;
  cursor: pointer;
}

@media (min-width: 768px) {
  .modal__container {
    background-color: #fff;
    width: calc(100% - 40px);
  }

  .modal-plan__header {
    padding: 35px;
    position: relative;
  }

  .modal-plan__header .film__name {
    font-size: 22px;
    margin-bottom: 15px;
    text-transform: none;
  }

  .modal .film__limit {
    top: 20px;
    right: 20px;
  }

  .film__detail > div {
    height: 37px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    font-size: 14px;
    margin-right: 6px;
  }

  .film__duration {
    background-color: #edf8fb;
    font-size: 13px;
  }

  .modal-plan__main {
    padding: 5px 35px 35px;
  }

  .screen {
    font-size: 12px;
    margin-bottom: 35px;
  }

  .seats-plan__row-number {
    width: 26px;
    min-width: 26px;
    height: 26px;
    font-size: 14px;
  }

  .seats-class {
    justify-content: center;
    flex-wrap: nowrap;
    max-width: none;
  }

  .seats-class__item {
    width: auto;
    margin-right: 30px;
  }

  .seats-plan__row {
    font-size: 13px;
    width: auto;
    margin: 0 auto 12px;
  }

  .seats-plan__row-place {
    width: 26px;
    min-width: 26px;
    height: 26px;
    margin-right: 8px;
  }

  .seats-plan__row-place.color-two {
    min-width: 58px;
  }

  .modal-plan__footer {
    background-color: #f2f7fb;
    padding: 20px 35px;
    display: flex;
    align-items: center;
  }

  .to-pay {
    flex-direction: column;
    margin-bottom: 0;
  }

  .to-pay p:last-child {
    font-size: 20px;
  }

  .places {
    margin-bottom: 0;
    margin-right: 30px;
  }

  .pay-btn {
    width: 166px;
    height: 56px;
    padding: 0;
  }
}

.modal-film__header {
  padding: 20px;
  position: relative;
}

.modal-film-desc__info {
  font-size: 13px;
  color: #09337b;
  margin-bottom: 15px;
}

.modal-film__header .film__country {
  margin-bottom: 6px;
}

.film__director {
  display: flex;
  align-items: center;
}

.modal-film__header .film__director {
  margin-bottom: 6px;
}

.film__director img {
  margin-right: 5px;
}

.modal-film__header .film__duration {
  display: flex;
  align-items: center;
  background: none;
}

.modal-film__header .film__duration img {
  margin-right: 5px;
}

.modal-film__main {
  padding: 0 20px 20px;
  height: auto;
}

.modal-film__trailer {
  position: relative;
}

.modal-film__trailer-preview {
  width: 100%;
  cursor: pointer;
  max-height: 450px;
  object-fit: cover;
}

.modal-film__trailer .play-button {
  position: absolute;
  bottom: calc(50% - 17px);
  left: calc(50% - 17px);
  display: flex;
  align-items: center;
  margin: 0 auto;
  cursor: pointer;
}

.modal-film__trailer .play-button__img {
  width: 34px;
  height: 34px;
  margin-right: 0;
}

.modal-film__trailer iframe {
  height: 250px;
  width: 100%;
}

@media (min-width: 500px) {
  .modal-film__trailer iframe {
    height: 450px;
  }
}

@media (min-width: 768px) {
  .modal-film__header {
    padding: 40px;
  }

  .modal-film-desc__info {
    display: flex;
    align-items: center;
  }

  .modal-film-desc__info div:nth-child(n) {
    margin-right: 35px;
  }

  .modal-film-desc__info div:last-child {
    margin-right: 0;
  }

  .modal-film-desc__info .film__duration {
    margin-right: 0;
    align-self: baseline;
  }

  .modal-film__main {
    padding: 0 40px 40px;
  }

  .modal-film__trailer .play-button {
    position: absolute;
    bottom: calc(50% - 35px);
    left: calc(50% - 35px);
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

  .modal-film__trailer .play-button__img {
    width: 70px;
    height: 70px;
  }
}

@media (min-width: 1200px) {
  .modal__close {
    right: -28px;
  }

  .modal-film-desc__info div:nth-child(n) {
    margin-right: 40px;
  }
}

.wrap-contacts {
  background-color: #eff3f8;
}
.contacts {
  padding-top: 45px;
  padding-bottom: 45px;
}
.contacts h2 {
  margin-bottom: 15px;
}
.contacts__info {
  margin-bottom: 22px;
  font-size: 14px;
  line-height: 21px;
}
.contacts__phone-info {
  margin-bottom: 15px;
  font-weight: 500;
  line-height: 24px;
  font-size: 16px;
}
.contacts__phone {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.contacts__phone img {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}
.contacts__phone a {
  font-weight: bold;
  font-size: 23px;
}
.work-hours {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 25px 0 -10px #e5ecf5;
}
.work-hours__mode {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  font-weight: 500;
}
.work-hours__mode img {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}
.work-hours__days {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  border-bottom: 1px dashed #e5ecf5;
  margin-bottom: 12px;
}
.work-hours__days:last-child {
  margin-bottom: 0;
}
.work-hours__days p:first-child {
  color: #1e53b4;
}
.work-hours__days p:last-child {
  color: #232323;
}

@media (min-width: 768px) {
  .contacts {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .contacts__info {
    margin-bottom: 25px;
    line-height: 27px;
    font-size: 18px;
  }

  .contacts__phone-info {
    line-height: 27px;
    font-size: 18px;
  }

  .work-hours {
    padding: 30px;
    box-shadow: 15px 15px #e5ecf5;
  }

  .work-hours__mode {
    margin-bottom: 27px;
    font-size: 20px;
  }

  .work-hours__days {
    margin-bottom: 19px;
    font-size: 21px;
  }
}

@media (min-width: 1200px) {
  .contacts {
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
  }
  .contacts__info {
    max-width: 670px;
  }
  .work-hours {
    position: absolute;
    top: 80px;
    right: 15px;
    width: 410px;
    box-sizing: border-box;
  }
}